module postfix_milter_fix 1.0;

require {
        type postfix_smtpd_t;
        type postfix_smtp_t;
        type postfix_cleanup_t;
	type dkim_milter_data_t;
	class sock_file write;
	class unix_stream_socket connectto;
}

#============= postfix_milter_fix ==============
allow postfix_smtpd_t dkim_milter_data_t:sock_file write; 
allow postfix_smtp_t dkim_milter_data_t:sock_file write; 
allow postfix_cleanup_t dkim_milter_data_t:sock_file write; 

allow postfix_smtpd_t dkim_milter_data_t:unix_stream_socket connectto; 
allow postfix_smtp_t dkim_milter_data_t:unix_stream_socket connectto; 
allow postfix_cleanup_t dkim_milter_data_t:unix_stream_socket connectto; 

